/*
CSS - file for popup.js
*/
#popup {
    padding:20px;
    position: absolute;
    left: 0px;
    top:  0px;
    border-style: solid;
    border-width: 1px;
    display:none;
    background-color:white;
    z-index:99;
}

#popupText {
    display:inline-block;
}

#popupCloseButton{
    float:right;
}

#popupClose {
    position: relative;
    left: 0px;
    top:  0px;
    display:inline-block;
}

#popupBackground {
    display: none;
    position: fixed;
    left: 0px;
    top:  0px;
    height:100%;
    border-style: solid;
    border-width: 0px;
    margin: 0px;
    background-color:lightgray;
    filter:alpha(opacity=50);
    opacity:0.5;
    z-index:9
}