div#formContainer {
    width:1000px;
    margin:auto;
    margin-top:20px;
    border:3px solid #4B4B4B;
    border-radius: 20px;
    padding: 10px;
    overflow:hidden; /*+*/
}

div.header {
    width:1000px;
    margin:auto;
    margin-top:20px;
    overflow:hidden; /*+*/
}


div.footer {
    width:1000px;
    margin:auto;
    margin-top:20px;
    overflow:hidden; /*+*/
}

select {
    width: 100%;
}

.labelShowError {
    color: red;
    display: block;
    font-style: italic;
}

.labelError {
    color: red;
    display: none;
    font-style: italic;
}

div.label {
    float: left;
    width: 15%;
}

input.inputView {
    width: 85%;
    background-color: transparent;
    border: 0px solid;
}

.hidden {
    visibility: hidden;
}

input.inputValueSmall {
    width: 72%;
}

input.inputValue {
    width: 85%;
}

input.back {
    float: left;
}


form {
    float: right;
    text-align: right;
}

.description {
    font-style: italic;
}

div.service {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-style: solid;
}

textarea {
    border:none;
    background-color: lightgray;
    width: 100%;
}